body{
    background-color: whitesmoke;
}

.container{
    display: grid;
     /* grid-template-columns:30% 30% 30%;  */
        /* grid-template-columns:1fr 2fr 1fr; */
    /* grid-template-columns:300px 2fr 1fr; */
    /* grid-template-columns:200px 300px auto;  */
    /* grid-template-columns:repeat(3,1fr); */
    grid-template-columns:minmax(200px,1fr)1fr 1fr;
    /* grid-template-columns:repeat(3,minmax(200px,1fr)); */
    /* grid-template-columns:repeat(auto-fit,minmax(200px,1fr)); */
    /* grid-template-columns:repeat(auto-fill,minmax(200px,1fr)); */
    /* row-gap: 20px;
    column-gap: 20px; */
    gap: 20px;
    
}
.para{
    padding: 1rem;
    background-color: cyan;
    color: white;
}


.outerbox{
display: grid;
grid-template-columns: repeat(3,1fr);
gap: 20px;
}
.box{
    background-color: green;
    color: white;
    font-size: 4rem;
    display: grid;   /*for centering the text */
    justify-content: center;
    align-items: center;
}